<h1>Last 10 Tweets</h1>

<p>This component demonstrates fetching salesforce tweets.</p>

<p *ngIf="!tweets"><em>Loading...</em></p>

<div class="slds-form-element">
    <label class="slds-form-element__label" for="text-input-id-1">Input Label</label>
    <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_right">
        <svg class="slds-icon slds-input__icon slds-input__icon_right slds-icon-text-default" aria-hidden="true">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#search"></use>
        </svg>
        <input type="text" id="text-input-id-1" class="slds-input" placeholder="Placeholder Text" [value]="filterText">
    </div>
</div>

<table class='table' *ngIf="tweets">
    <thead>
        <tr>
            <th>Screen Name</th>
            <th>Message</th>
            <th>Retweets</th>
            <th>ImageUrls</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let tweet of tweets">
            <tr *ngIf="tweet.isVisible">
                <td>{{ tweet.userScreenName}}</td>
                <td>{{ tweet.message }}</td>
                <td>{{ tweet.retweetCount }}</td>
                <td>{{ tweet.imageUrls }}</td>
            </tr>
        </ng-container>                             
    </tbody>
</table>